{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md",
      "changelogTitle": "# Changelog"
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "npm run build && npm run test"
    }],
    ["@semantic-release/exec", {
      "publishCmd": "docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_PASSWORD && docker push $DOCKERHUB_REPOSITORY:${version} && docker push $DOCKERHUB_REPOSITORY:latest"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@codedependant/semantic-release-docker", {
      "dockerImageName": "${{ secrets.DOCKERHUB_REPOSITORY }}",
      "dockerTags": ["${version}", "latest"]
    }]
  ]
}

